Repository tomo3101/tems: changes, and which lefthook commands are due for each by the changed paths.
All: web, api

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    web:
      root: apps/web/
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm prettier --write {staged_files} && pnpm eslint {staged_files} --max-warnings 0
      stage_fixed: true
    api:
      root: apps/api/
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm prettier --write {staged_files} && pnpm eslint {staged_files} --max-warnings 0
      stage_fixed: true

fix: ニュースページのリンクを正しいルートに修正
  apps/web/src/app/(header)/news/page.tsx
Due: web

fix: トップページの予約ボタンを修正
  apps/web/src/app/(header)/page.tsx
Due: web

add: チェックインボタンモーダルコンポーネントを実装
  apps/web/src/components/layout/mypage/reservation/button.tsx
Due: web

add: 予約詳細ページにチェックインボタンモーダルを追加
  apps/web/src/app/(header)/mypage/reservation/[reservationId]/page.tsx
Due: web

fix: メールテンプレートのリンクを修正
  apps/api/src/application/emails/calledTemplate.tsx
  apps/api/src/application/emails/checkedInTemplate.tsx
  apps/api/src/application/emails/reservedTemplate.tsx
Due: api

fix: イベントの取得に現在の日付以降を表示するように修正
  apps/web/src/app/(header)/reserve/search/page.tsx
  apps/web/src/app/(header)/waiting/page.tsx
Due: web

update: バージョンを1.0.1に更新
  apps/web/package.json
Due: none

fix: 予約更新時のステータスチェックを削除
  apps/api/src/infra/repositories/reservationRepository.ts
Due: api

fix: 予約ステータスをdoneに更新時、チェック日時の更新を削除
  apps/api/src/infra/repositories/reservationRepository.ts
Due: api

fix: 不要なエラーチェックを削除
  apps/api/src/application/controllers/reservationController.ts
Due: api

update: バージョンを1.0.1に更新
  apps/api/package.json
Due: none

fix: webhookデプロイの同時実行を管理する設定を追加
  .github/workflows/webhook-deploy.yml
Due: none

update: バージョンを1.0.1に更新
  package.json
Due: none

update: 各パッケージのライブラリを更新
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

update: バージョンを1.0.2に更新
  apps/api/package.json
  apps/web/package.json
  package.json
Due: none

update: バージョンを1.0.3に更新
  apps/api/package.json
  apps/web/package.json
  package.json
Due: none

update: next-authを更新
  apps/web/package.json
  pnpm-lock.yaml
Due: none
